<launch>
   <!-- Sem informações sensorias :( -->

   <!-- Odometria -->
   <!-- Fornecida pelo hw_interface -->
   <!--<node pkg="navigation" type="odom_front.py" name="odom_front_node" output="screen"/> -->

   <!-- EKF -->
   <!--<node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
   <rosparam command="load" file="$(find robot_localization)/params/ekf_template.yaml" />
      <remap from="odometry/filtered" to="odom_filter"/>
   </node>
   -->
   <!-- TF -->
   <node pkg="navigation" type="tf_publisher.py" name="tf_node" output="screen"/>

   <!-- Node that converts Twist msgs from cmd_vel to AckermannDrive msgs, which are published in /ackermann_cmd -->
   <!--<node name="cmd_vel_converter_node" pkg="navigation" type="cmd_vel_to_ackermann_drive.py" output="screen"/>-->

</launch>