<launch>
   <!-- Sem informações sensorias :( -->

   <!-- Odometria -->
   <node pkg="navigation" type="odom_pub_simul.py" name="odom_node" output="screen"/>
   <!--<node pkg="navigation" type="odom_front.py" name="odom_front_node" output="screen"/>-->

   <!-- TF -->
   <node pkg="navigation" type="tf_publisher_simul.py" name="tf_node" output="screen"/>

   <!-- Node that converts Twist msgs from cmd_vel to AckermannDrive msgs, which are published in /ackermann_cmd -->
   <node name="cmd_vel_converter_node" pkg="navigation" type="cmd_vel_to_ackermann_drive.py" output="screen"/>

</launch>