<launch>
    <!-- Running map server -->
    <arg name="map_file" default="$(find navigation)/maps_hand_made/map_test.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>

    <!-- Running the global planner -->
    <!-- <node name="global_planner_node" pkg="navigation" type="global_planner.py" output="screen"/> -->

    <!-- Running the path planner -->
    <include file="$(find teb_local_planner)/launch/path_planner.launch"/>

</launch>